body{
	background-color: grey;
}

#container{
	height: 200px;
	width: 500px;
	text-align: center;
	background-color: yellow;
	margin: 0 auto;
}

#input2{
	margin-left: 160px;
	margin-right: 100%;
}

#buttonCheck{
	width: 60px;
	height: 20px;
	margin: 10px;
	margin-left: 225px;
	margin-right: 100%;
}

button{
	height: 30px;
	width: 30px;
}